.container {
  width: 95%;
  /* max-width: 1500px; */
  margin: 0 auto;
  /* position: sticky; */
}
.header {
  width: 100%;
  background: #f9f8f8;
  box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.25);
}

.sec1 {
  display: flex;
  width: 100%;
  height: 90px;
  padding: 3px 0;
  justify-content: space-between;
  background-color: #f9f8f8;
}

.gif_section {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 80px;
}

.navbar {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar > li {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 10px; */
  cursor: pointer;
}

.navbar > li > span {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40.85px;
  color: #000000;
}
.prof {
  height: 25px;
  width: 25px;
}

.profile_link {
  display: flex;
  align-items: center;
}

.profile_link > span {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 40.85px;
  color: #000000;
}

.sec2 {
  background-color: #f9f8f8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 86px;
  align-items: center;
}
.search_section {
  display: flex;
  justify-content: center;
}

.search {
  border: none;
  outline: none;
  background-color: white;
  width: 500px;
  height: 53px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  /* box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.25); */
}

.search:focus {
  border: 2px solid rgb(163, 151, 40);
}

.cart {
  border: none;
  height: 64px;
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: rgba(39, 115, 57, 0.8);
  font-size: 30px;
  line-height: 36px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.magazin_modal {
  width: 100%;
  height: 100vh;
  background-color: rgba(164, 168, 170, 0.8);
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
}

.magazin_modal__close {
  width: 100%;
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.magazin_modal__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.karta_modal {
  width: 80%;
  height: 700px;
  background-color: #f9f8f8;
  border-radius: 1rem;
}

.category__list_show {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  /* height: 400px; */
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.cat_item {
  display: flex;
  flex-direction: column;
}

.cat_item > span {
  width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(63, 245, 27);
}

.subcat_item {
  padding-top: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}

.subcat_item:hover {
  color: #000000;
}

.like_icon {
  position: absolute;
}

.like_count {
  position: relative;
  transform: translate(20px, -5px);
  font-size: 20px;
  font-weight: 600;
  color: red;
}

.like_section {
  display: flex;
  align-items: center;
}
