.category_section {
  width: 100%;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.left_section {
  width: 20%;
}
.right_section {
  width: 80%;
  height: auto;
}
.category_list {
  z-index: 999;
  margin-top: 64px;
  /* width: 518px; */
  /* width: max-content;
  background: linear-gradient(
    43.53deg,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(255, 255, 255, 0.483) 100%
  ); */
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.25);
   backdrop-filter: blur(50px); 
  position: relative;
  display: flex; 
}

.category_banner {
  transform: translateX(100px) translateY(100px);
  height: 100%;
}

.category_item {
  width: max-content;
}

.subcategory_show {
  width: max-content;
  position: absolute;
}
