.home_section {
  width: 100vw;
  background-image: url("../../public//yaprak.png");
  /* background-position: right; */
  background-repeat: no-repeat;
  background-position-x: 1170px;
  object-fit: contain;
}

.container {
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
}
.left_section {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.left_section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 68px;

  background: linear-gradient(
    90.5deg,
    rgba(45, 64, 45, 0.9) 0.44%,
    rgba(45, 82, 51, 0.9) 99.81%,
    rgba(146, 58, 176, 0.81) 99.82%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.left_section__desc {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-align: justify;

  color: #5f5f5f;
}

.left_section__btn {
  width: 163px;
  height: 45px;
  background: #006d26;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 10px;
  color: white;
}

.right_section {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  /* background-image: url('../../public//yaprak.png');
    background-position: right;
    transform: matrix(0.11, 0.99, 0.99, -0.11, 0, 0);
    background-repeat: no-repeat;
    background-position-x: 500px;
    object-fit: contain; */
}

.ellipse {
    position: absolute;
    display: flex;
  width: 653px;
  height: 653px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(30px);
}

.home_section__image{
    position: relative;
    transform: translateX(25px);
    /* overflow: visible; */
    z-index: 999;
}
