.brandes {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.brands > h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 64.6552px;
  line-height: 76px;
  /* identical to box height */

  color: #000000;
}

.brand_images__container {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 1rem;
}

.brand_img {
  width: 446.5px;
  height: 178.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.25);
  margin: 1rem;
}
